:root {
  --primary: #030d7b;
  --auxiliar: #087b35;
  --secondary: #7aeba6;
  --backgroud: #fcd7a7;
  --hoverbuttons1: #030d7b;
  --hoverbuttons0: #ca05fa;
  --hoverbuttons2: #ffc06e;
  --auxiliar2: #7e64dc;
  --auxiliar1: #fdffb1;

  --primary2: #ffc06e;
  --secondary2: #c06190;
  --backgroud2: #cacce5;
  --secondary3: #2f67e1;
  --auxiliar3: #7000e0;
  --hoverbuttons12: #5da7e1;
}
html {
  margin: 0;
  height: 100%;
  padding: 0;
}
body {
  font-family: Roboto;
  justify-content: center;
  align-items: center;
  /* background-color: var(--backgroud); */
  background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--hoverbuttons1)
  );
  margin: 0;
  height: 100%;
  padding: 0;
}

#book-container {
  background: white;
  padding: 2%;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 0.8%;
  height: 90%;
}

#book-title-container {
  height: 2%;
}
#book-title {
  color: white;
  background-image: linear-gradient(to right, var(--auxiliar), var(--primary));
  width: 50%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 2em; */
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  position: relative;
  bottom: 1em;
  font-size: 1.2vw;
}

#page-container {
  width: 100%;
  height: 88%;
  display: flex;
}

/* Primera planilla */

.Alayout {
  height: 100%;
  width: 100%;
  margin-right: 2%;
}

.Alayout-container {
  height: 100%;
  position: relative;
}
.Alayout-container #caratula {
  height: 100%;
  width: 100%;
}

.button-caratula-container {
  position: absolute;
  bottom: 15%;
  left: 4%;
  width: 20vw;
  height: 10%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Botones de navegacion */
.nav-buttons {
  color: white;
  /* background-color: var(--secondary); */
  background-image: linear-gradient(to right, var(--auxiliar), var(--primary));

  font-size: 1.2vw;
  border-radius: 100px;
  width: 6em;
  height: 80%;
  border: none;
  box-shadow: 5px 7px 10px var(--primary);
}

.nav-buttons:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(to right, var(--auxiliar), var(--primary2));
}

#comenzar-button {
  width: 100%;
  height: 100%;
  font-size: 1.5vw;
  padding: 0;
  border: 0;
  margin-left: 0px;
}

.jump-buttons {
  color: white;
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--auxiliar), var(--primary));
  font-size: 1.2vw;
  border-radius: 100px;
  border: none;
  width: 7.5em;
  height: 70%;
  /* box-shadow: 1px 1px 10px #00000071; */
  box-shadow: 5px 7px 10px var(--auxiliar1);
}

.jump-buttons:hover {
  background-image: linear-gradient(to right, var(--auxiliar), var(--primary2));
}

#home-button {
  width: 2em;
}
/* Header del menu */
#menu-header {
  margin-left: 2%;
  display: flex;
  height: 10%;
}
#menu-buttons {
  text-align: left;
  width: 100%;
}
#menu-image-container {
  text-align: right;
  width: 30%;
  margin: auto;
}

#menu-image-container #logo {
  height: auto;
  width: 80%;
}
/* Botones inferiores */
#adv-buttons {
  text-align: right;
  height: 7%;
}
/* Titulos y texto en general */
.titles {
  text-align: left;
  font-size: 1.6vw;
  color: var(--auxiliar);
}

.text {
  text-align: justify;
}
/* Plantilla B */
.Blayout {
  padding-left: 2%;
  padding-right: 2%;
  line-height: 1.1em;
  height: 100%;
  font-size: 1.2vmax;
  width: 85%;
  background-image: url("images/CHA99.png");
  background-size: 100% 100%;
}

.Blayout #Blayout-container {
  height: 100%;
}
.Blayout #Btitle {
  margin: 0;
  height: 5%;
}

.Blayout #Blayout-container #Btext-container {
  margin: 0;
  height: 90%;
  position: relative;
}

.Blayout #Blayout-container #Btext {
  margin: 0;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Plantilla C */

.Clayout {
  text-align: left;
  /* padding: 2%; */
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  font-size: 1.2vmax;
  width: 95%;
  background-image: url("images/CHA_10.jpeg");
  background-size: 100% 100%;
}

.Clayout #Clayout-container {
  height: 100%;
  /* border: 1px solid red; */
}

.Clayout #Clayout-container #Ctitle {
  margin: 0;
  height: 10%;
  /* border: 1px solid green; */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.Clayout #Cindex-buttons {
  /* column-count: 2; */
  /* column-gap: 10px; */
  height: 90%;
  /* position: relative; */
  /* border: 1px solid violet; */
  display: flex;
  /* background-color: white; */
}

.Clayout #Cindex-buttons #column1 {
  /* border: 1px solid red; */
  width: 33%;
}

.Clayout #Cindex-buttons #column2 {
  /* border: 1px solid green; */
  width: 33%;
}
.Clayout #Cindex-buttons #column3 {
  /* border: 1px solid green; */
  width: 34%;
}

.Clayout .button-index-container {
  background-color: transparent;
  display: flex;
  height: 11%;
  /* padding: 1.5%; */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.2vw;
  /* border: 1px solid violet; */
}

.Clayout .button-index-container .index-big-buttons {
  background-color: transparent;
  font-size: 1.2vw;
  margin: 0;
  border: none;
  height: 100%;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.Clayout .button-index-container .index-big-buttons:hover {
  background-image: linear-gradient(to right, var(--secondary), var(--primary));
  color: white;
  /* font-weight: bolder; */
  /* color: #1d3e8b; */
}

/* Plantilla D */

.Dlayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  font-size: 1.2vmax;
  width: 85%;
  background-image: url("images/CHA_10.jpeg");
  background-size: 100% 100%;
}
.Dlayout h1 {
  margin: 0;
  height: 10%;
}

.Dlayout #Dlayout-container {
  display: flex;
  height: 90%;
}
.Dlayout #Dlayout-container #Dbutton {
  width: 5%;
  height: 100%;
}

.Dlayout #Dlayout-container #Dbutton #Dmodals-container {
  height: 100%;
}

.Dlayout #Dlayout-container #Dbutton #Dmodals-container #modal-container0 {
  height: 10%;
  width: 100%;
}

.Dlayout #Dlayout-container #Dbutton #Dmodals-container #modal-container1 {
  height: 90%;
  width: 100%;
  margin: 0;
}

.Dlayout #Dbutton .open-button0 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--auxiliar2), var(--primary));
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  color: white;
  box-shadow: 8px 8px 5px var(--auxiliar1);
  font-size: 1.2vw;
}
.Dlayout #Dbutton .open-button0:hover {
  background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--hoverbuttons1)
  );
}
.Dlayout #Dlayout-container #Dbutton .open-button1 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--auxiliar2), var(--primary));
  width: 100%;
  margin-top: 20%;
  height: 80%;
  border: none;
  border-radius: 20px;
  color: white;
  box-shadow: 8px 8px 5px var(--auxiliar1);
  font-size: 1.1vmax;
}

.Dlayout #Dlayout-container #Dbutton .open-button1:hover {
  background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--hoverbuttons1)
  );
}

.Dlayout #Dtext {
  width: 55%;
  padding-left: 3%;
  padding-right: 3%;
}

.Dlayout #Dimage-container {
  /* background-color: var(--primary); */
  width: 45%;
  height: 90%;
}

.Dlayout #Dimage-container #Dimage {
  height: 100%;
  width: 100%;
}

/* Plantilla E */

.Elayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  font-size: 1.3vw;
  width: 85%;
  background-image: url("images/CHA_14.jpeg");
  background-size: 100% 100%;
}

.Elayout #Elayout-container {
  display: flex;
  height: 100%;
}

.Elayout #Eimage-container {
  width: 60%;
  height: auto;
}
.Elayout #Eimage-container #Eimage {
  width: 100%;
  height: 100%;
}
.Elayout #Elayout-container #index-button-container {
  width: 40%;
  height: 100%;
  position: relative;
}

.Elayout #Elayout-container #index-button-container #index-buttons {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 70%;
}

.Elayout
  #Elayout-container
  #index-button-container
  #index-buttons
  .button-index-container {
  height: 25%;
}

.Elayout
  #Elayout-container
  #index-button-container
  #index-buttons
  .jump-buttons {
  width: 85%;
  height: 70%;
  font-size: 0.9em;
}

/* Plantilla F */

.Flayout {
  padding-left: 1%;
  padding-right: 1%;
  height: 100%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_8.jpeg");
  background-size: 100% 100%;
}

.Flayout #Flayout-container {
  display: flex;
  height: 100%;
}

.Flayout #Flayout-container #Fcolumn1 {
  width: 60%;
  padding: 20px;
}

.Flayout #Flayout-container #Fcolumn1 #act-inicio-img {
  height: 15%;
  width: 70%;
}

.Flayout #Flayout-container #Fcolumn2 {
  width: 40%;
}

.Flayout #Flayout-container #Fcolumn2 #Flayout-img {
  width: 80%;
  height: 75%;
}

.Flayout #Flayout-container #Fcolumn2 #Fdownload-button {
  margin-top: 1em;
  width: 80%;
  height: 15%;
  font-size: 1.2vw;
}

.Flayout #Flayout-container #Fcolumn2 #Flink-container {
  margin-top: 0.9em;
  width: 80%;
  height: 15%;
  font-size: 1.2em;
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* background-color: var(--secondary); */
  background-image: linear-gradient(to right, var(--secondary), var(--primary));
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--backgroud);
}
.Flayout #Flayout-container #Fcolumn2 #Flink-container:hover {
  /* background-color: var(--primary); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar),
    var(--hoverbuttons1)
  );
}

.Flayout #Flayout-container #Fcolumn2 #Flink-container #Flink {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
}

/* Plantilla G */

.Glayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_10.jpeg");
  background-size: 100% 100%;
}

.Glayout #Glayout-container {
  height: 100%;
}

.Glayout #Glayout-container #Grow1 {
  width: 100%;
  height: 40%;
}

.Glayout #Glayout-container #Grow1 #Gtitle1 {
  margin: 0;
  height: 10%;
}
.Glayout #Glayout-container #Grow2 {
  width: 100%;
  height: 10%;
}
.Glayout #Glayout-container #Grow2 #Gtitle2 {
  margin: 0;
}

.Glayout #Glayout-container #Grow3 {
  width: 100%;
  height: 50%;
  display: flex;
}

.Glayout #Grow3 #Gmodal-container {
  width: 40%;
  height: 100%;
}

.Glayout #Grow3 #Gnext-modal {
  width: 60%;
}

.Glayout #Grow3 #Gmodal-container #modal-container0 {
  height: 100%;
}

.Glayout #Grow3 #Gmodal-container #modal-container0 .open-button0 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--primary), var(--auxiliar));
  color: white;
  width: 60%;
  height: 80%;
  border-radius: 50%;
  font-size: 1.1vw;
  box-shadow: 8px 8px 10px var(--backgroud);
  border: none;
  padding-left: 2%;
  padding-right: 2%;
}
.Glayout #Grow3 #Gmodal-container #modal-container0 .open-button0:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons0)
  );
}

/* Plantilla H */

.Hlayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 95%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_10.jpeg");
  background-size: 100% 100%;
}

.Hlayout #Hlayout-container {
  height: 100%;
  width: 100%;
}

.Hlayout #Hlayout-container #Hrow1 {
  height: 48%;
  position: relative;
  margin-bottom: 2%;
}

.Hlayout #Hlayout-container #Hrow1 #Htitle1 {
  height: 10%;
  margin: 0;
}

.Hlayout #Hlayout-container #Hrow1 #Htext1 {
  height: 50%;
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 {
  text-align: center;
  padding-right: auto;
  display: flex;
  justify-content: center;
  height: 50%;
  position: absolute;
  bottom: 4%;
  width: 100%;
}
.Hlayout #Hlayout-container #Hrow2 {
  height: 45%;
  position: relative;
}

.Hlayout #Hlayout-container #Hrow2 #Htitle2 {
  height: 10%;
  margin: 0;
}

.Hlayout #Hlayout-container #Hrow2 #Htext2 {
  height: 35%;
}

.Hlayout #Hlayout-container #Hrow2 #Hmodals-container2 {
  text-align: center;
  padding-right: auto;
  display: flex;
  justify-content: center;
  height: 50%;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 #modal-container0,
#modal-container1,
#modal-container2,
#modal-container3,
#modal-container4 {
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  width: 20%;
}

.Hlayout #Hlayout-container #Hrow2 #Hmodals-container2 #modal-container5,
#modal-container6,
#modal-container7,
#modal-container8,
#modal-container9 {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button0 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--primary), var(--auxiliar));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  box-shadow: 8px 8px 5px var(--backgroud);
  border: none;
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button1 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--primary), var(--auxiliar));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  box-shadow: 8px 8px 5px var(--backgroud);
  border: none;
}
.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button2 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--primary), var(--auxiliar));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  box-shadow: 8px 8px 5px var(--backgroud);
  border: none;
}
.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button3 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--primary), var(--auxiliar));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  box-shadow: 8px 8px 5px var(--backgroud);
  border: none;
}
.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button4 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--primary), var(--auxiliar));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  box-shadow: 8px 8px 5px var(--backgroud);
  border: none;
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button0:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button1:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button2:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button3:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow1 #Hmodals-container1 .open-button4:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hmodals-container2 .open-button5,
.open-button6,
.open-button7,
.open-button8,
.open-button9 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--auxiliar), var(--primary));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  box-shadow: 10px 10px 5px var(--backgroud);
  border: none;
}

.Hlayout #Hlayout-container #Hrow2 #Hmodals-container2 .open-button5:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow2 #Hmodals-container2 .open-button6:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow2 #Hmodals-container2 .open-button7:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow2 #Hmodals-container2 .open-button8:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

.Hlayout #Hlayout-container #Hrow2 #Hmodals-container2 .open-button9:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar2),
    var(--hoverbuttons1)
  );
}

/* Plantilla I */

.Ilayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_8.jpeg");
  background-size: 100% 100%;
}

.Ilayout #Ilayout-container {
  height: 100%;
  display: flex;
}

.Ilayout #Ilayout-container #Icolumn1 {
  width: 50%;
  /* border: 1px solid red; */
}

.Ilayout #Ilayout-container #Icolumn1 #Icolumn1-image-container {
  width: 100%;
  height: 20%;
  margin-top: 9%;
  /* border: 1px solid green; */
}

.Ilayout
  #Ilayout-container
  #Icolumn1
  #Icolumn1-image-container
  #Iimage-column1 {
  width: 100%;
  height: 70%;
}

.Ilayout #Ilayout-container #Icolumn1 #Ititle {
  /* margin-top: 10%; */
  margin-left: 3%;
  /* margin-bottom: 10%; */
  /* border: 1px solid violet; */
}

.Ilayout #Ilayout-container #Icolumn1 #Itext-container {
  /* border: 1px solid orange; */
  height: 80%;
  position: relative;
}

.Ilayout #Ilayout-container #Icolumn1 #Itext-container #Itext {
  /* margin-top: 8%; */
  /* margin-bottom: 0; */
  margin-left: 3%;
  margin-right: 3%;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Ilayout #Ilayout-container #Icolumn2 {
  width: 25%;
}

.Ilayout #Ilayout-container #Icolumn2-image-container {
  height: 50%;
  margin: 5%;
  margin-top: 20%;
}

.Ilayout #Ilayout-container #Icolumn2-image-container #Iimage-column2 {
  width: 100%;
  height: 100%;
}

.Ilayout #Ilayout-container #Icolumn2 #Idownload-button {
  margin-top: 2em;
  width: 80%;
  height: 15%;
  font-size: 1.2em;
}

.Ilayout #Ilayout-container #Icolumn2 #Ilink-container {
  margin-top: 2em;
  width: 80%;
  height: 15%;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius: 15px;
  box-shadow: 10px 10px 5px var(--backgroud);
}
.Ilayout #Ilayout-container #Icolumn2 #Ilink-container:hover {
  /* background-color: var(--secondary); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar),
    var(--hoverbuttons1)
  );
}

.Ilayout #Ilayout-container #Icolumn2 #Ilink-container #Ilink {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
}

.Ilayout #Ilayout-container #Icolumn3 {
  width: 25%;
}

.Ilayout #Ilayout-container #Icolumn3-image-container {
  height: 80%;
  margin: 5%;
  margin-top: 20%;
}

.Ilayout #Ilayout-container #Icolumn3-image-container #Iimage-column3 {
  width: 100%;
  height: 100%;
}

/* Plantilla J */

.Jlayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 95%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_8.jpeg");
  background-size: 100% 100%;
}

.Jlayout #Jlayout-container {
  height: 100%;
}

.Jlayout #Jlayout-container #Jtitle {
  height: 10%;
  margin: 0;
}
.Jlayout #Jlayout-container #Jtext-container {
  height: 8%;
}

.Jlayout #Jlayout-container #Jcarousel-container {
  height: 80%;
  position: relative;
}
.Jlayout #Jlayout-container #Jcarousel-container #Jcarousel {
  height: 100%;
  width: 70%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Jlayout #Jlayout-container #Jcarousel-container #Jcarousel #Jimage {
  height: 100%;
  width: 100%;
}

.Jlayout #Jlayout-container #Jcarousel-container #JnextSlide-container {
  position: absolute;
  margin: 0;
  bottom: 35%;
  left: 90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 5%;
  height: 5em;
}

.Jlayout #Jlayout-container #Jcarousel-container #JprevSlide-container {
  position: absolute;
  margin: 0;
  bottom: 35%;
  left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 5%;
  height: 5em;
}

.Jlayout #Jlayout-container #Jcarousel-container .SlideCarouselButton {
  /* background-color: var(--secondary); */
  background-image: linear-gradient(
    to right,
    var(--auxiliar),
    var(--secondary)
  );
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 2.5em;
  border: none;
  color: white;
  /* box-shadow: 10px 10px 5px var(--backgroud); */
}

.Jlayout #Jlayout-container #Jcarousel-container .SlideCarouselButton:hover {
  background-color: var(--primary);
  color: white;
}

/* Plantilla K */

.Klayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_14.jpeg");
  background-size: 100% 100%;
}

.Klayout #Klayout-container {
  height: 100%;
}
.Klayout #Klayout-container #Ktitle {
  margin: 0;
  height: 8%;
}
.Klayout #Klayout-container #Ktext-container1,
#Ktext-container2 {
  margin-top: 2%;
  margin: 0;
  height: 30%;
  position: relative;
}

.Klayout #Klayout-container #Ktext1,
#Ktext2 {
  margin: 0;
  position: absolute;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Klayout #Klayout-container #Ktext1 {
  padding-left: 2%;
  padding-right: 2%;
  background-color: var(--backgroud);
}
.Klayout #Klayout-container #Kimage-container {
  height: 30%;
}

.Klayout #Klayout-container #Kimage-container #Kbanner {
  height: 100%;
  width: 80%;
}

/* Plantilla L */

.Llayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 95%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_10.jpeg");
  background-size: 100% 100%;
}

.Llayout #Llayout-container {
  height: 100%;
}

.Llayout #Llayout-container #Ltitle {
  margin: 0;
  height: 10%;
}

.Llayout #Llayout-container #Ltext-container {
  margin-top: 10px;
  margin: 0;
  height: 45%;
  position: relative;
}

.Llayout #Llayout-container #Ltext {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Llayout #Llayout-container #Lmodals-container {
  text-align: center;
  padding-right: auto;
  display: flex;
  justify-content: center;
  height: 30%;
}

.Llayout #Llayout-container #Lmodals-container #modal-container0,
#modal-container1,
#modal-container2,
#modal-container3,
#modal-container4 {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}

.Llayout #Llayout-container #Lmodals-container .open-button0,
.open-button1,
.open-button2,
.open-button3,
.open-button4 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--secondary), var(--primary));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 1.1vw;
  box-shadow: 10px 10px 5px var(--auxiliar2);
  border: none;
}

.Llayout #Llayout-container #Lmodals-container .open-button0:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--hoverbuttons0),
    var(--hoverbuttons1)
  );
}

.Llayout #Llayout-container #Lmodals-container .open-button1:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--hoverbuttons0),
    var(--hoverbuttons1)
  );
}

.Llayout #Llayout-container #Lmodals-container .open-button2:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--hoverbuttons0),
    var(--hoverbuttons1)
  );
}

.Llayout #Llayout-container #Lmodals-container .open-button3:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--hoverbuttons0),
    var(--hoverbuttons1)
  );
}

.Llayout #Llayout-container #Lmodals-container .open-button4:hover {
  /* background-color: var(--hoverbuttons1); */
  background-image: linear-gradient(
    to right,
    var(--hoverbuttons0),
    var(--hoverbuttons1)
  );
}

/* Plantilla M */

.Mlayout {
  padding-left: 1%;
  padding-right: 1%;
  height: 95%;
  width: 85%;
  font-size: 1.2vw;
}

.Mlayout #Mlayout-container {
  height: 100%;
}

.Mlayout #Mlayout-container #Mtitle {
  margin: 0;
  height: 10%;
}

.Mlayout #Mlayout-container #Mtext-container {
  margin-top: 2em;
  margin: 0;
  height: 30%;
  position: relative;
}

.Mlayout #Mlayout-container #Mtext {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Mlayout #Mcarousel-container {
  height: 58%;
  background-color: var(--backgroud);
  padding-top: 1em;
  justify-content: center;
  border-radius: 50px;
}

.Mlayout #Mcarousel-container #Mbuttons {
  width: 80%;
  height: 14%;
  margin: auto;
  position: relative;
  background-color: white;
}

.Mlayout #Mcarousel-container #Mbuttons #Mbuttons-container {
  display: inline-block;
  width: 96%;
  height: 100%;
  padding-left: 0%;
  margin-left: 2%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.Mlayout #Mcarousel-container #Mparag-container {
  background-color: white;
  width: 80%;
  height: 74%;
  margin: auto;
  padding-top: 1%;
}

.Mlayout #Mcarousel-container #Mparag-container #Mparag {
  height: 100%;
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
}

.Mlayout #Mcarousel-container #Mbuttons #Mbuttons-container .paragButton {
  background-color: var(--secondary);
  /* background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--primary)
  ); */
  color: white;
  height: 100%;
  border-radius: 50px;
  border: none;
  width: 7vw;
  margin-right: 1%;
  font-size: 1vw;
}

/* Plantilla N */

.Nlayout {
  padding-left: 2%;
  padding-right: 2%;
  height: 95%;
  font-size: 1.2vw;
  width: 85%;
  background-image: url("images/CHA_10.jpeg");
  background-size: 100% 100%;
}

.Nlayout #Nlayout-container {
  height: 100%;
}

.Nlayout #Nlayout-container #Ntitle {
  margin: 0;
  height: 10%;
}

.Nlayout #Nlayout-container #Ntext-container {
  height: 60%;
  display: flex;
}

.Nlayout #Nlayout-container #Ntext-container #Ntext-containerLeft,
#Ntext-containerRight {
  height: 100%;
  width: 50%;
  position: relative;
}

.Nlayout #Nlayout-container #Ntext-container #Ltext1,
#Ltext2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3%;
  margin-right: 3%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Nlayout #Nlayout-container #Nmodals-container {
  height: 30%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Nlayout #Nlayout-container #Nmodals-container #modal-container0 {
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  height: 90%;
}

.Nlayout #Nlayout-container #Nmodals-container #modal-container1 {
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  height: 90%;
}

.Nlayout #Nlayout-container #Nmodals-container .open-button0 {
  /* background-color: #1d3e8b; */
  background-image: linear-gradient(to right, var(--secondary), var(--primary));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 70%;
  font-size: 1.2vw;
  box-shadow: 10px 10px 5px var(--backgroud);
  border: none;
}

.Nlayout #Nlayout-container #Nmodals-container .open-button0:hover {
  /* background-color: purple; */
  background-image: linear-gradient(
    to right,
    var(--hoverbuttons0),
    var(--hoverbuttons1)
  );
}

.Nlayout #Nlayout-container #Nmodals-container .open-button1 {
  /* background-color: #1d3e8b; */
  background-image: linear-gradient(to right, var(--secondary), var(--primary));
  color: white;
  border-radius: 50%;
  height: 100%;
  width: 70%;
  font-size: 1.2vw;
  box-shadow: 10px 10px 5px var(--auxiliar1);
  border: none;
}
.Nlayout #Nlayout-container #Nmodals-container .open-button1:hover {
  /* background-color: purple; */
  background-image: linear-gradient(
    to right,
    var(--hoverbuttons0),
    var(--hoverbuttons1)
  );
}

.Olayout {
  padding-left: 1%;
  padding-right: 1%;
  line-height: 1.1em;
  height: 100%;
  font-size: 1.1vmax;
  width: 85%;
  /* border: 1px solid red; */
}

.Olayout #Olayout-container {
  height: 100%;
  /* border: 2px solid green; */
}
.Olayout #Otitle {
  /* border: 2px solid orange; */
  margin: 0;
  height: 5%;
}

.Olayout #Olayout-container #Oimage-container {
  margin: 0;
  height: 90%;
  /* position: relative; */
  /* border: 2px solid violet; */
}

.Olayout #Olayout-container #Oimage-container #Oimage {
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  height: 100%;
  width: 100%;
}

/* Plantilla P */

.Playout {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  font-size: 1.2vmax;
  width: 85%;
  background-image: url("images/CHA_10.jpeg");
  background-size: 100% 100%;
  border: 1px solid red;
}
.Playout h1 {
  margin: 0;
  height: 10%;
}

.Playout #Playout-container {
  display: flex;
  height: 90%;
}
.Playout #Playout-container #Pbutton {
  width: 5%;
  height: 100%;
  border: 1px solid green;
}

.Playout #Playout-container #Pbutton #Pmodals-container {
  height: 100%;
}

.Playout #Playout-container #Pbutton #Pmodals-container #modal-container0 {
  height: 10%;
  width: 100%;
}

.Playout #Playout-container #Pbutton #Pmodals-container #modal-container1 {
  height: 90%;
  width: 100%;
  margin: 0;
}

.Playout #Pbutton .open-button0 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--auxiliar2), var(--primary));
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  color: white;
  box-shadow: 10px 10px 5px var(--auxiliar1);
  font-size: 1.2vw;
}
.Playout #Pbutton .open-button0:hover {
  background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--hoverbuttons1)
  );
}
.Playout #Playout-container #Pbutton .open-button1 {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--auxiliar2), var(--primary));
  width: 100%;
  margin-top: 20%;
  height: 80%;
  border: none;
  border-radius: 20px;
  color: white;
  box-shadow: 8px 8px 5px var(--auxiliar1);
  font-size: 1.1vmax;
}

.Playout #Playout-container #Pbutton .open-button1:hover {
  background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--hoverbuttons1)
  );
}

/* .Dlayout #Dtext {
  width: 55%;
  padding-left: 3%;
  padding-right: 3%;
} */

.Playout #Pimage-container {
  /* background-color: var(--primary); */
  border: 1px solid orange;
  width: 95%;
  height: 90%;
  padding-left: 3%;
  padding-right: 3%;
}

.Playout #Pimage-container #Pimage {
  height: 100%;
  width: 100%;
}

/* Barra lateral del indice */

#index-permanent {
  height: 101%;
  width: 16%;
  /* background-color: #ffc06e; */
}
.index-desp {
  padding-left: 0;
}
.list-item {
  list-style-type: none;
  overflow: hidden;
}
#show1 {
  list-style-type: none;
  padding-left: 0;
  /* border-left: 2px solid black; */
  transition: height 0.4s;
  height: 0;
}
#show2 {
  list-style-type: none;
  padding-left: 0;
  /* border-left: 2px solid black; */
  transition: height 0.4s;
  height: 0;
}
#show3 {
  list-style-type: none;
  padding-left: 0;
  /* border-left: 2px solid black; */
  transition: height 0.4s;
  height: 0;
}
.list-button {
  height: 3em;
}

.index-buttons {
  /* background-color: #fcd7a7; */
  /* background-image: url("images/CHA_10.jpeg"); */
  background-color: white;
  font-size: 1vw;
  margin: 0;
  border: none;
  height: 100%;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.index-buttons:hover {
  /* background-color: var(--primary); */
  background-image: linear-gradient(to right, var(--auxiliar), var(--primary));
  color: white;
}

/* Pop-ups */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid var(--primary);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 80%;
  max-width: 80%;
  /* height: 70%; */
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
  background-color: var(--primary);
  color: white;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  text-align: left;
  height: 90%;
}

.modal-body #image-modal-body {
  /* border: 1px solid forestgreen; */
  /* height: 50%; */
  height: 35vw;
  width: 100%;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
